<div class="listening button" ng-click="loginFBandChangeTemplate();">Zaloguj się przez facebook</div>
<!-- <div class="event listening button" onclick="showDialog();">Show Dialog with Facebook</div>
<div class="event listening button" onclick="apiTest();">Test API with Facebook</div>
<div class="event listening button" onclick="getAccessToken();">Get access token with Facebook</div>
<div class="event listening button" onclick="logPurchase();">Log Purchase Event</div>
<div class="event listening button" onclick="logEvent();">Log Regular Event</div>
<div class="event listening button" onclick="getStatus();">Get login status with Facebook</div>-->
<div class="listening button" onclick="logout();">Logout with Facebook</div>
